:root {
  --header-color: #4ea0ff;
  --h2-color: #8a8a8a;
  --span-color: #41b6e8;
}

body {
  margin: 0;
}

#page_header {
  background-image: url(../img/pattern.png);
  height: 180px;
  background-color: var(--header-color);
}

#logo {
  width: 350px;
}

main {
  margin: 10px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 65px;
}

.gray {
  font-weight: 2px;
  margin: 0;
  color: var(--h2-color);
}

#blue_span {
  color: var(--span-color);
}

#tim_one {
  width: 52%;
}

#tim_two {
  width: 44%;
}

#images_section {
  margin-top: 20px;
}

ul {
  padding: 15px;
}

.yellow {
  background-color: yellow;
}